*{ 
Display a post in one of these modes: 'full', 'home' or 'teaser' 
This version tries to be a strongly typed

~(): argument list

}*

~(
	models.Post _post, 
	String _as,
)
 
<div class="post $_as=='teaser'?'teaser':''">
    <h2 class="post-title">
        <a href="@{Application.show(_post.id)}">$_post.title</a>
    </h2>
    <div class="post-metadata">
        <span class="post-author">by $_post.author.fullname </span>,
        <span class="post-date">$_post.postedAt.format('dd MMM yy')</span>
        #{if _as != 'full'}
            <span class="post-comments">
                &nbsp;|&nbsp; $_post.comments.size()?:'no' comment$_post.comments.size().pluralize()
                #{if _post.comments}
                    , latest by $_post.comments[-1].author
                #{/}
            </span>
        #{/}
        #{elseif _post.tags}
            <span class="post-tags">
                - Tagged 
                #{each _post.tags}
                    <a href="@{Application.listTagged(_.name)}">$_</a>$_isLast?'':', '
                #{/}
            </span>
        #{/}
    </div>
    #{if _as != 'teaser'}
        <div class="post-content">
            <div class="about">Detail: </div>
            $_post.content.nl2br()
        </div>
    #{/}
</div>
 
#{if _as == 'full'}
    <div class="comments">
        <h3>$_post.comments.size()?:'no' comment$_post.comments.size().pluralize()</h3>
        
        #{each _post.comments}
            <div class="comment">
                <div class="comment-metadata">
                    <span class="comment-author">by $_.author,,,</span>
                    <span class="comment-date">$_.postedAt.format('dd MMM yy')</span>
                </div>
                <div class="comment-content">
                    <div class="about">Detail: </div>
                    $_.content.escape().nl2br()
                </div>
            </div>
        #{/}
        
    </div>
#{/}
